body
  .navbar.navbar-default.navbar-fixed-top
    .container
      a(href="/"): .logo.navbar-left Meetworking
      
      a.btn.btn-primary.navbar-btn.navbar-right(href="/users/logout") Log out
      
      a.btn.btn-primary.navbar-btn.navbar-right(href="/") Settings
      
      form.navbar-right.navbar-pad(action="/search")
        input.form-control(type="search" name="companysearch" placeholder="Search companies")
