.modal.fade#newGroupModal(role='dialog')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        button.close(data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') &times;
        h3 You are not a member of this group.
      .modal-body
        form(action="/joinandrsvp/#{newgroup}")
          button.btn.btn-info(type='submit' value='Join and RSVP') Join and RSVP
