script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js')
script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.3/backbone-min.js')
script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js')
script(type='text/javascript', src='/backbone/js/models.js')
script(type='text/javascript', src='/backbone/js/views.js')
script(type='text/javascript', src='/backbone/js/main.js')
