extends layout

block content
  include ./partials/_company-scripts.jade
  include ./partials/_dashboard-nav.jade
  include ./partials/_newgroup.jade
  .container
    .row
      .col-md-8.col-md-offset-1
        h3 Searching #{companyname}
        .backbone
