extends layout

block content
  include ./partials/_scripts.jade
  include ./partials/_dashboard-nav.jade
  include ./partials/_newgroup.jade
  .container
    .row
      .col-md-8.col-md-offset-1
        .backbone
      .col-md-3
        #sidebar(data-spy="affix" data-offset-top="0" data-offset-bottom="200")
          h3 Search companies
          br
          .btn.btn-warning #{companies[0].searchcompany}
          br
          .btn.btn-success #{companies[1].searchcompany}
          br
          .btn.btn-danger #{companies[2].searchcompany}
          br
          p Filters
  -if (newgroup) {
  - console.log('found newgroup: ', newgroup)
  - $('#newGroupModal').modal('show')
  -} else {
  - console.log('error')
  -}
