extends layout

block content
  include ./partials/_detailed-scripts.jade
  include ./partials/_dashboard-nav.jade
  .container
    .row
      .col-md-8.col-md-offset-1
        .backbone-event
        h3 Attendees:
        .backbone-rsvps
