extends layout

block content
  include ./partials/_landing-nav.jade
  .jumbotron
    .carousel-slide(data-ride="carousel")
      .carousel-inner
        .item-active
          img.img-responsive(src="/images/OfficeTable_HeisenbergMediaCCBY-SA20.jpg" alt="Startup Live Vienna by Heisenberg Media, CC BY-SA 2.0")
          .carousel-caption
            .calltoaction
              h2 Looking for a job?
              p Find out what the employees of your dream company are doing, and meet them there!
              .btn-group.btn-group-lg(role="group")
                a(href="/auth/meetup")
                  .btn.btn-primary
                    h2 Get hired
                    p Sign up
  .preloader
    span.preloader-gif
