extends layout

block content

  include ./partials/_scripts.jade
  include ./partials/_dashboard-nav.jade
  .container
    .row
      h2 Sorry, there was an error authenticating with Meetup.com.
    .row
      p Please <a href='http://meetup.com'>visit Meetup to attempt to RSVP or join</a>
