extends layout

block content
  include ./partials/_scripts.jade
  include ./partials/_dashboard-nav.jade
  .container
    .row
      br
    .row
      h2 Sorry, there was an error when attempting to RSVP via Meetup.com.
    .row
      p Please <a href="http://www.meetup.com/#{groupurlname}/quick_join" target="_blank">visit Meetup to join the group and RSVP</a>
