doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='https://fonts.googleapis.com/css?family=Carter+One|Lora', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap-theme.min.css')
    script(type='text/javascript', src='https://code.jquery.com/jquery-2.1.4.min.js')
    script(type='text/javascript', src='/bootstrap/js/bootstrap.min.js')
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js')
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.3/backbone-min.js')
    script(type='text/javascript', src='/backbone/js/models.js')
    script(type='text/javascript', src='/backbone/js/views.js')
    script(type='text/javascript', src='/backbone/js/main.js')
  body
    .navbar.navbar-default.navbar-fixed-top
      .container
        a(href="/"): .logo.navbar-left Meetworking
        a.btn.btn-primary.navbar-btn.navbar-right(href="/auth/meetup") Log in
    block content
