extends layout

block content
  include ./partials/_scripts.jade
  include ./partials/_dashboard-nav.jade
  .container
    .row
      br
    .row
      h2 We couldn't find any results yet.
    .row
      p Please check again later or follow the company to have events added to your dashboard.
