doctype html
html
  head
    title= title
    link(rel='shortcut icon', type='image/png', href='/assets/jasmine_favicon.png')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/jasmine/2.3.4/jasmine.css')
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/jasmine/2.3.4/jasmine.js')
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/jasmine/2.3.4/jasmine-html.js')
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/jasmine/2.3.4/boot.js')
    script(type='text/javascript', src='/spec/spec.js')
