.logo {
  font-family: "Carter One", cursive;
  font-size: 30px;
}

.carousel-caption {
  text-align: center;
  bottom: 50%;
  top: 25%;
}

body {
  padding-top: 60px;
}

.navbar-pad {
  padding-top: 10px;
  margin-left: 5px;
}
