.logo {
  font-family: "Carter One", cursive;
  font-size: 30px;
}

.carousel-caption {
  text-align: center;
  bottom: 50%;
  top: 25%;
}

body {
  padding-top: 60px;
  color: black;
}

h2, h3, h4, h5 {
  color: black;
}

.navbar-pad {
  padding-top: 10px;
  margin-left: 5px;
}

.search-result {
  margin-top: 10px;
  padding-top: 20px;
}

.date {
  color: #8D99AE;
}

.card {
  border-top: 1px solid black;
  height: 150px;
}

.card-left {
  width: 20%;
  float: left;
  padding-right: 2%;
}

.time {
  font-family: "Lora", "Times New Roman", serif;
}

.card-right {
  width: 80%;
  float: left;
}

.title {
  font-family: "Lora", "Times New Roman", serif;
}

.group {
  font-size: 1.25rem;
}

.div-left {
  width: 65%;
  float: left;
}

.location {
  height: 50px;
  padding: 5px;
}

.location h3 {
  font-family: "Lora", "Times New Roman", serif;
}

.div-right {
  margin-left: 2%;
  width: 32%;
  float: left;
}

.btn-rsvp {

}

.spots-left {
  text-align: center;
  padding-top: 10px;
  width: 45%;
}

.spots-left p {
  font-size: 1.25rem;
}

.rsvps {
  font-family: "Lora", "Times New Roman", serif;
  padding-top: 5px;
}

/*https://coolors.co/app/2b2d42-8d99ae-edf2f4-ef233c-d90429*/
.color1 {
  border: 3px solid #da5d06;
  color: #da5d06;
}

.color2 {
  border: 3px solid #339d17;
  color: #339d17;
}

.color3 {
  border: 3px solid #13141d;
  color: #13141d;
}

.colortemp {
  border: 3px solid #1BE7FF;
  color: #1BE7FF;
}

.preloader{
    position: fixed;
    top:0;
    left:0;
    bottom: 0;
    right: 0;
    background: #fff;
    z-index: 99999;
}

.preloader .preloader-gif{
    display: block;
    width: 200px;
    height: 146px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -73px;
    background: url('/assets/preloader.gif') no-repeat;
}

.photo {
  width: 100%;
  margin: 20px;
}

.messagelink {
  margin: 20px;
  display: inline-block;
}

.linkedinsearch {
  margin-top: 5px;
  display: inline-block;
}

.talkingpoints {
  border: 1px solid black;
  border-radius: 5px;
  margin: 5px;
}

.facebookicon, .twittericon, .linkedinicon, .flickricon, .tumblricon {
  width: 15px;
  height: 15px;
  display: inline-block;
  margin-left: 4px;
}

.facebookicon {
  background: url('/assets/facebook.svg') no-repeat;
}

.twittericon {
  background: url('/assets/twitter.svg') no-repeat;
}

.linkedinicon {
  background: url('/assets/linkedin.svg') no-repeat;
}

.flickricon {
  background: url('/assets/flickr.svg') no-repeat;
}

.tumblricon {
  background: url('/assets/tumblr.svg') no-repeat;
}

.attendee{
  margin-bottom: 40px;
}
