.logo {
  font-family: "Carter One", cursive;
  font-size: 30px;
}

.carousel-caption {
  text-align: center;
  bottom: 50%;
  top: 10%;
}

body {
  /*padding-top: 60px;*/
  color: black;
}

h2, h3, h4, h5 {
  color: black;
}

.navbar-pad {
  padding-top: 10px;
  margin-left: 5px;
}

.search-result {
  margin-top: 10px;
  padding-top: 20px;
}

.date {
  color: #8D99AE;
}

.card {
  border-top: 1px solid black;
  height: 150px;
}

.card-left {
  width: 20%;
  float: left;
  padding-right: 2%;
}

.time {
  font-family: "Lora", "Times New Roman", serif;
}

.card-right {
  width: 80%;
  float: left;
}

.title {
  font-family: "Lora", "Times New Roman", serif;
}

.group {
  font-size: 1.25rem;
}

.div-left {
  width: 65%;
  float: left;
}

.location {
  height: 50px;
  padding: 5px;
}

.location h3 {
  font-family: "Lora", "Times New Roman", serif;
}

.div-right {
  margin-left: 2%;
  width: 32%;
  float: left;
}

.btn-rsvp {

}

.spots-left {
  text-align: center;
  padding-top: 10px;
  width: 45%;
}

.spots-left p {
  font-size: 1.25rem;
}

.rsvps {
  font-family: "Lora", "Times New Roman", serif;
  padding: 5px;
  height: 28px;
  max-width: 120px;
}

/*https://coolors.co/app/2b2d42-8d99ae-edf2f4-ef233c-d90429*/
.color1 {
  /*border: 3px solid #da5d06;
  color: #da5d06;*/
  background: repeating-linear-gradient(
    45deg,
    #da5d06,
    #da5d06 10px,
    #e58d50 10px,
    #e58d50 20px
  );
  color: white;
  max-height: 32px;
  max-width: 340px;
  border: 5px solid #da5d06;
  border-radius: 5px;
}

.color2 {
  /*border: 3px solid #339d17;
  color: #339d17;*/
  background: repeating-linear-gradient(
    45deg,
    #339d17,
    #339d17 10px,
    #70ba5c 10px,
    #70ba5c 20px
  );
  color: white;
  max-height: 32px;
  max-width: 340px;
  border: 5px solid #339d17;
  border-radius: 5px;
}

.color3 {
  /*border: 3px solid #13141d;
  color: #13141d;*/
  background: repeating-linear-gradient(
    45deg,
    #272f45,
    #272f45 10px,
    #6f7583 10px,
    #6f7583 20px
  );
  color: white;
  max-height: 32px;
  max-width: 340px;
  border: 5px solid #272f45;
  border-radius: 5px;
}

.colortemp {
  /*border: 3px solid #1BE7FF;
  color: #1BE7FF;*/
  background: repeating-linear-gradient(
    45deg,
    #1BE7FF,
    #1BE7FF 10px,
    #5feeff 10px,
    #5feeff 20px
  );
  color: white;
  max-height: 32px;
  max-width: 340px;
  border: 5px solid #1BE7FF;
  border-radius: 5px;
}

div.color1, div.color2, div.color3, div.colortemp {
  max-height: none;
  max-width: none;
}

.preloader{
    position: fixed;
    top:0;
    left:0;
    bottom: 0;
    right: 0;
    background: #fff;
    z-index: 99999;
}

.preloader .preloader-gif{
    display: block;
    width: 700px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -150px 0 0 -350px;
    background: url('/assets/preloader.gif') no-repeat;
}

.photo {
  width: 100%;
  margin: 20px;
}

.messagelink {
  margin: 20px;
  display: inline-block;
}

.messagelink.color1, .messagelink.color2, .messagelink.color3, .messagelink.colortemp {
  background: none;
  border: none;
}

.linkedinsearch {
  margin-top: 5px;
  display: inline-block;
}

.talkingpoints {
  border: 1px solid black;
  border-radius: 5px;
  margin: 5px;
}

.facebookicon, .twittericon, .linkedinicon, .flickricon, .tumblricon {
  width: 15px;
  height: 15px;
  display: inline-block;
  margin-left: 4px;
}

.facebookicon {
  background: url('/assets/facebook.svg') no-repeat;
}

.twittericon {
  background: url('/assets/twitter.svg') no-repeat;
}

.linkedinicon {
  background: url('/assets/linkedin.svg') no-repeat;
}

.flickricon {
  background: url('/assets/flickr.svg') no-repeat;
}

.tumblricon {
  background: url('/assets/tumblr.svg') no-repeat;
}

.attendee{
  margin-bottom: 40px;
}

.backbone-event #single-result {
  margin-bottom: 20px;
  padding: 10px;
  border: 5px solid white;
  border-radius: 5px;
  background-color: white;
}

#edit-profile label {
  margin: 5px;
}

#edit-profile input {
  margin: 5px;
}

#edit-profile input.companyfield {
  margin: 5px;
}

.backbone {
  padding-top: 50px;
}

#sidebar {
  padding-top: 70px;
}

.searchingcompany {
  padding-top: 50px;
}

.calltoaction {
  background-color: #edf2f4;
  padding: 20px;
  border: 5px solid #edf2f4;
  border-radius: 5px;
  color: black;
}
